<%= simple_form_for(@factura) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :cliente %>
    <%= f.input :nombre %>
    <%= f.input :nit %>
    <%= f.input :telefono %>
    <%= f.input :lugar_de_factura %>
    <%= f.input :telefono %>
    <%= f.input :correo %>
    <%= f.input :recibe %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
