<p id="notice"><%= notice %></p>

<h1>Contactos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre contacto</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th>Correo</th>
      <th>Cliente</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contactos.each do |contacto| %>
      <tr>
        <td><%= contacto.nombre_contacto %></td>
        <td><%= contacto.telefono %></td>
        <td><%= contacto.celular %></td>
        <td><%= contacto.correo %></td>
        <td><%= contacto.cliente %></td>
        <td><%= contacto.estado %></td>
        <td><%= link_to 'Show', contacto %></td>
        <td><%= link_to 'Edit', edit_contacto_path(contacto) %></td>
        <td><%= link_to 'Destroy', contacto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contacto', new_contacto_path %>
