<%= simple_form_for(@detalle_pedido) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :pedido %>
    <%= f.input :sustrato %>
    <%= f.association :tecnica_de_impresion %>
    <%= f.input :cantidad %>
    <%= f.input :precio %>
    <%= f.input :total %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
