<p id="notice"><%= notice %></p>

<h1>Detalles Pedido</h1>

<table class="table">
  <thead>
    <tr>
      <th>Pedido</th>
      <th>Descripcion</th>
      <th>Producto</th>
      <th>Sustrato</th>
      <th>Tecnica de impresion</th>
      <th>Tamano</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @detalles_pedido.each do |detalle_pedido| %>
      <tr>
        <td><%= detalle_pedido.pedido.Producto %></td>
        <td><%= detalle_pedido.descripcion %></td>
        <td><%= detalle_pedido.producto %></td>
        <td><%= detalle_pedido.sustrato %></td>
        <td><%= detalle_pedido.tecnica_de_impresion.tecnica %></td>
        <td><%= detalle_pedido.tamano %></td>
        <td><%= detalle_pedido.cantidad %></td>
        <td><%= detalle_pedido.precio %></td>
        <td><%= detalle_pedido.total %></td>
        <td><%= link_to 'Show', detalle_pedido %></td>
        <td><%= link_to 'Edit', edit_detalle_pedido_path(detalle_pedido) %></td>
        <td><%= link_to 'Destroy', detalle_pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Detalle Pedido', new_detalle_pedido_path %>
