

<tr>
  <td>
    <%= f.input :sustrato%>
  </td>
  <td>
    <%= f.association :tecnica_de_impresion%>
  </td>

<td>
  <%= f.text_field :cantidad, id: :detalle_pedido_cantidad %>
</td>

<td class="field">

  <%= f.text_field :precio, id: :detalle_pedido_precio %>
</td>

<td class="field">

  <%= f.text_field :total, id: :detalle_pedido_total %>
</td>

<td>
  <%= f.input_field :_destroy, as: :hidden %>
  <%= link_to 'Delete', '#', class: 'remove_record' %>
</td>

</tr>
