<div class="field">
  <%= form.label :sustrato %>
  <%= form.text_field :sustrato, id: :detalle_pedido_sustrato %>
</div>

<div class="field">
  <%= form.label :tecnica_de_impresion_id %>
  <%= form.text_field :tecnica_de_impresion_id, id: :detalle_pedido_tecnica_de_impresion_id %>
</div>

<div class="field">
  <%= form.label :cantidad %>
  <%= form.text_field :cantidad, id: :detalle_pedido_cantidad %>
</div>

<div class="field">
  <%= form.label :precio %>
  <%= form.text_field :precio, id: :detalle_pedido_precio %>
</div>

<div class="field">
  <%= form.label :total %>
  <%= form.text_field :total, id: :detalle_pedido_total %>
</div>
