<%= simple_form_for (@pedido) do |f| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contacto_id %>
    <%=
      f.association :contacto,
      collection: Contacto.all,
      label_method: :nombre_contacto,
      value_method: :id,
      as: :select,
      include_blank: 'Seleccione el Cliente'
    %>
  </div>

  <div class="field">
    <%= f.label :fecha_de_pedido %>
    <%= f.text_field :fecha_de_pedido, id: :pedido_fecha_de_pedido %>
  </div>



  <table>
    <thead>
      <th>Tipo de pedido</th>
      <th>Numero De Cotización</th>
      <th>Numero De Pedido</th>
      <th>Descripcion del Trabajo</th>
      <th>Linea de Impresión</th>

      <th>Forma de pago</th>
      <th>Pedido de Arte</th>
      <th>Descripción del Pedido</th>

    </thead>
    <tbody>

      <td class="field">

        <%=f.collection_radio_buttons :estado_pedido, [['Bajo Cotizacion'] ,['Producto de linea']],:first, :last %>
      </td>



      <td class="field">
        <%= f.label :numero_cotizacion %>
        <%= f.text_field :numero_cotizacion, id: :pedido_numero_cotizacion %>
      </td>

      <td class="field">
        <%= f.label :numero_de_pedido %>
        <%= f.text_field :numero_pedido  %>
      </td>

      <td class="field">
        <label for="">Descripcion del pedido</label>
        <%= f.text_field :tipo_de_trabajo, id: :pedido_tipo_de_trabajo %>
      </td>

      <td class="field">

        <%=

        f.association :linea_de_impresion,
        collection: LineaDeImpresion.all,
        label_method: :tipo_de_linea,
        value_method: :id,
        as: :select,
        include_blank: 'Linea De Impresión'

        %>

      </td>




      <td class="field">
        <%= f.label :forma_de_pago %>
        <%= f.text_field :forma_de_pago, id: :pedido_forma_de_pago %>
      </td>

      <td class="field">
        <%= f.label :arte %>
        <!--%= f.text_field :arte, id: :pedido_arte %-->
        <%= f.select :arte,[['Cliente'], ['Intercalco']], include_blank:'Arte Por Parte de' %>
      </td>


      <td class="field">
        <label for="">Descripcion</label>
        <%= f.text_area :observaciones, id: :pedido_observaciones %>
      </td>
    </tbody>
  </table>


<br>
<h1>Facturar a</h1>
<table>
  <thead>
    <th>Nombre</th>
    <th>Nit</th>
    <th>Telefono</th>
    <th>Lugar de Facturación</th>
    <th>Correo</th>
    <th>Recibe</th>
  </thead>
  <tbody>
      <%= f.simple_fields_for :facturas do |fac| %>
    <tr>
      <td>
        <label for="">Nombre</label>
        <%=fac.text_field :nombre %>
      </td>
      <td>
        <label for="">Nit</label>
        <%=fac.text_field :nit %>
      </td>
      <td>
        <label for="">Telefono</label>
        <%=fac.text_field :telefono %>
      </td>
      <td>
        <label for="">Lugar de Facturación</label>
        <%=fac.text_field :lugar_a_factura %>
      </td>
      <td>
        <label for="">Correo</label>
        <%=fac.text_field :correo %>
      </td>
      <td>
        <label for="">Recibe</label>
        <%=fac.text_field :recibe %>
      </td>
    </tr>
    <%end%>
  </tbody>
</table>


<br>
<br>


<h1>Pedidos</h1>
<div class="actions">
  <%= link_to_add_row('Add Pedido', f, :detalles_pedido, class: 'btn btn-primary') %>

</div>
<table class="table">
  <thead>
    <th>Descripcion</th>
    <th>Sustrato</th>
    <th>Tecnica</th>
    <th>Tamaño</th>
    <th>Cantidad</th>
    <th>Precio</th>
    <th>Total</th>
    <th></th>
  </thead>
  <tbody class='fields'>
    <%= f.simple_fields_for :detalles_pedido do |builder| %>
      <%= render "detalle_pedido", :f => builder %>
    <% end %>
  </tbody>
</table>

<br>

<h1>Tiempos De Entregas</h1>
<div class="actions">
  <%= link_to_add_entregas('Add Entrega', f, :tiempos_de_entregas, class: 'btn btn-primary') %>

</div>
<table class="table">
  <thead>

    <th>Cantidad</th>
    <th>Fecha De Compromiso</th>
    <th>Costo</th>
    <th></th>
  </thead>
  <tbody class='fields_entrega'>
    <%= f.simple_fields_for :tiempos_de_entregas do |builder| %>
      <%= render "tiempos_de_entrega", :f => builder %>
    <% end %>
  </tbody>
</table>

<br>




<h1>Despachos</h1>
<table>
  <thead>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <%= f.simple_fields_for :despachos do |des| %>
    <tr>
      <td>
        <label for="">Nombre</label>
        <%=
        des.text_field :nombre
        %>
      </td>

      <td>
        <label for="">Lugar de Entrega</label>
        <%=
        des.text_field :lugar_de_entrega
        %>
      </td>

      <td>
        <label for="">Telefono</label>
        <%=
        des.text_field :telefono
        %>
      </td>

      <td>
        <label for="">Celular</label>
        <%=
        des.text_field :celular
        %>
      </td>
      <td>
        <label for="">Correo</label>
        <%=
        des.text_field :correo
        %>
      </td>

    </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="field">
  <%= f.label :fecha_entrega %>
  <%= f.text_field :fecha_entrega, id: :pedido_fecha_entrega %>
</div>
<div>
<%= f.submit %>
</div>

<% end %>
