<%= simple_form_for (@pedido) do |f| %>
  <% if pedido.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pedido.errors.count, "error") %> prohibited this pedido from being saved:</h2>

      <ul>
      <% pedido.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contacto_id %>
    <%=

      f.association :contacto,
      collection: Contacto.all,
      label_method: :nombre_contacto,
      value_method: :id,
      as: :select,
      include_blank: 'Seleccione el Cliente'
    %>
  </div>

  <table>
    <thead>
      <th>Producto</th>
      <th>Tipo de Trabajo</th>
      <th>Fecha de Entrega</th>
      <th>Fecha de Pedido</th>
      <th>Numero De Cotización</th>
      <th>Forma de pago</th>
      <th>Pedido de Arte</th>
      <th>Observaciones</th>
    </thead>
    <tbody>


      <td class="field">
        <%= f.label :Producto %>
        <%= f.text_field :Producto, id: :pedido_Producto %>
      </td>

      <td class="field">
        <%= f.label :tipo_de_trabajo %>
        <%= f.text_field :tipo_de_trabajo, id: :pedido_tipo_de_trabajo %>
      </td>

      <td class="field">
        <%= f.label :fecha_entrega %>
        <%= f.text_field :fecha_entrega, id: :pedido_fecha_entrega %>
      </td>

      <td class="field">
        <%= f.label :fecha_de_pedido %>
        <%= f.text_field :fecha_de_pedido, id: :pedido_fecha_de_pedido %>
      </td>

      <td class="field">
        <%= f.label :numero_cotizacion %>
        <%= f.text_field :numero_cotizacion, id: :pedido_numero_cotizacion %>
      </td>

      <td class="field">
        <%= f.label :forma_de_pago %>
        <%= f.text_field :forma_de_pago, id: :pedido_forma_de_pago %>
      </td>

      <td class="field">
        <%= f.label :arte %>
        <!--%= f.text_field :arte, id: :pedido_arte %-->
        <%= f.select :arte,[['Cliente'], ['Intercalco']], include_blank:'Arte Por Parte de' %>
      </td>

      <td class="field">
        <%= f.label :observaciones %>
        <%= f.text_area :observaciones, id: :pedido_observaciones %>
      </td>
    </tbody>
  </table>


<br>
<br>
<br>



<table class="table">
  <thead>
    <th>Descripcion</th>
    <th>Sustrato</th>
    <th>Tecnica</th>
    <th>Tamaño</th>
    <th>Cantidad</th>
    <th>Precio</th>
    <th>Total</th>
    <th></th>
  </thead>
  <tbody class='fields'>
    <%= f.simple_fields_for :detalles_pedido do |builder| %>
      <%= render "detalle_pedido", :f => builder %>
    <% end %>
  </tbody>
</table>



  <div class="actions">
    <%= link_to_add_row('Add Pedido', f, :detalles_pedido, class: 'btn btn-primary') %>
    <%= f.submit %>
  </div>
<% end %>
