<tr>
  <td><%=f.association :tinta%></td>

  <td><%= f.input :nombre %></td>
  <td><%= f.input :cantidad %></td>
  <td><%= f.input_field :_destroy, as: :hidden %>
      <%= link_to 'Delete', '#', class: 'remove_record' %></td>
</tr>

<div class="form-inputs">
  <%= f.input :nombre %>
  <%= f.input :cantidad %>

</div>


  </td>
