<tr>
  <td><%= f.input :cantidad %></td>
  <td><%= f.input :fecha_compromiso %></td>
  <td><%= f.input :costo %></td>
  <td><%= f.input_field :_destroy, as: :hidden %>
  <%= link_to 'Delete', '#', class: 'remove_entregas' %></td>
</tr>
