<p id="notice"><%= notice %></p>

<h1>Tintas</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Pantone</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tintas.each do |tinta| %>
      <tr>
        <td><%= tinta.codigo %></td>
        <td><%= tinta.pantone %></td>
        <td><%= tinta.descripcion %></td>
        <td><%= link_to 'Show', tinta %></td>
        <td><%= link_to 'Edit', edit_tinta_path(tinta) %></td>
        <td><%= link_to 'Destroy', tinta, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tinta', new_tinta_path %>
