<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @mini_pedido.nombre %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @mini_pedido.cantidad %>
</p>

<p>
  <strong>Pedido:</strong>
  <%= @mini_pedido.pedido %>
</p>

<p>
  <strong>Tinta:</strong>
  <%= @mini_pedido.tinta %>
</p>

<%= link_to 'Edit', edit_mini_pedido_path(@mini_pedido) %> |
<%= link_to 'Back', mini_pedidos_path %>
