<p id="notice"><%= notice %></p>

<h1>Tiempos De Entregas</h1>

<table>
  <thead>
    <tr>
      <th>Pedido</th>
      <th>Descripcion</th>
      <th>Cantidad</th>
      <th>Fecha compromiso</th>
      <th>Costo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tiempos_de_entregas.each do |tiempos_de_entrega| %>
      <tr>
        <td><%= tiempos_de_entrega.pedido.tipo_de_trabajo %></td>
        <td><%= tiempos_de_entrega.pedido.detalles_pedido %></td>
        <td><%= tiempos_de_entrega.cantidad %></td>
        <td><%= tiempos_de_entrega.fecha_compromiso %></td>
        <td><%= tiempos_de_entrega.costo %></td>
        <td><%= link_to 'Show', tiempos_de_entrega %></td>
        <td><%= link_to 'Edit', edit_tiempos_de_entrega_path(tiempos_de_entrega) %></td>
        <td><%= link_to 'Destroy', tiempos_de_entrega, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tiempos De Entrega', new_tiempos_de_entrega_path %>
