<p id="notice"><%= notice %></p>

<h1>Acabados</h1>

<table>
  <thead>
    <tr>
      <th>Tipo de acabado</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acabados.each do |acabado| %>
      <tr>
        <td><%= acabado.tipo_de_acabado %></td>
        <td><%= acabado.descripcion %></td>
        <td><%= link_to 'Show', acabado %></td>
        <td><%= link_to 'Edit', edit_acabado_path(acabado) %></td>
        <td><%= link_to 'Destroy', acabado, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acabado', new_acabado_path %>
