<p id="notice"><%= notice %></p>

<h1>Lineas De Impresiones</h1>

<table>
  <thead>
    <tr>
      <th>Tipo de linea</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lineas_de_impresiones.each do |linea_de_impresion| %>
      <tr>
        <td><%= linea_de_impresion.tipo_de_linea %></td>
        <td><%= linea_de_impresion.descripcion %></td>
        <td><%= linea_de_impresion.estado %></td>
        <td><%= link_to 'Show', linea_de_impresion %></td>
        <td><%= link_to 'Edit', edit_linea_de_impresion_path(linea_de_impresion) %></td>
        <td><%= link_to 'Destroy', linea_de_impresion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Linea De Impresion', new_linea_de_impresion_path %>
